.reset-margenes {
    margin: 0;
    padding: 0;
  }
  .sticky-nav {
    position:sticky;
  }

.nav-item{
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 2px;
    color: greenyellow;
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-transform: uppercase;
} 
** 
  Cart
**/
.submenu {
  position: relative;
}

.submenu #carrito {
  display: none;
}

.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  color: white;
  top: 100%;
  z-index: 1;
  background-color: #9b3ca3;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}

.vacio {
  padding: 10px;
  background-color: crimson;
  text-align: center;
  border-radius: 10px;
  color:white
}